/* Base style from https://github.com/yurividal/filebrowserdarktheme */
:root {
    --background: #1f2330;
    --surfacePrimary: #1f2330;
    --surfaceSecondary: #292d3e;
    --surfaceHover: #383d51;
    --surfaceSelect: #4c5374;
    --divider: #1f2330;
    --icon: #8eb2ff;
    --textPrimary: #dee0ee;
    --textSecondary: #929ac9;
    --radius: 0.7rem;
    --blue: #8eb2ff;
    --dark-blue: rgba(56, 71, 102, 0.5);
    --red: #ef5350;
    --dark-red: rgba(239, 83, 80, 0.15);
    --grey: #6c739a;
    --dark-grey: rgba(108, 115, 154, 0.15);
    --moon-grey: #f2f2f2;
}

.share__box__info {
    padding: 2em 3em;
    background-color: var(--surfaceSecondary);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.share__box__download {
    width: 100%;
    padding: 1em;
    cursor: pointer;
    background: #2c313c;
    color: white;
    font-size: 1.3em;
}

.share__box__title {
    word-wrap: break-word;
}

h1.share__box__title {
    font-size: 1.2em;
}

#login form {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 20em;
    width: 90%;
    background-color: var(--surfaceSecondary);
    padding: 2em;
    border-radius: var(--radius);
}

#login h1 {
    text-align: center;
    font-size: 1.5em;
    margin: 0.4em 0 0.67em;
    word-spacing: 100vw;
}

body {
    background: var(--background);
    color: var(--textPrimary);
}

.card#share ul li input,
.card#share ul li select {
    padding: 0.2em;
    margin-right: 0.5em;
    border: 1px solid #21252b;
    background-color: var(--background);
    color: white;
}

.share__box {
    background: var(--background);
    box-shadow: none;
}

h1 {
    font-size: 1.5em;
    margin: 0.67em 0;
}

#listing .item .name {
    font-weight: 100;
}

.material-icons {
    color: var(--icon);
}

.message {
    color: white;
}

#previewer {
    background-color: var(--background);
}


/* My theme styles */

/* Remove highlight when clicking on mobile */
#listing .item,
.action,
#search.active #result ul li a,
#search .boxes>div>div,
.button,
.file-list li {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Mosaic view style */
#listing.mosaic .item {
    box-shadow: none !important;
    background-color: var(--surfaceSecondary);
    border-radius: var(--radius) !important;
}

#listing.mosaic .item:hover,
#listing.list .item:not(.header):hover {
    box-shadow: none !important;
    background-color: var(--surfaceHover);
}

#listing .item[aria-selected="true"] {
    background: var(--surfaceSelect) !important;
    color: var(--textPrimary) !important;
}

#listing h2:nth-of-type(2) {
    padding-top: 0.5em;
}

/* List view style */
#listing.list .item.header {
    border-bottom: none;
}

#listing.list .item {
    border: none;
    border-radius: var(--radius);
}

/* Breadcrumb style */
.breadcrumbs {
    border-bottom: none;
    margin-top: 1em;
}

.breadcrumbs span a {
    padding: 0.4em 0.6em;
}

.breadcrumbs a {
    padding: 0.1em 0.6em;
    border-radius: var(--radius);
}

.breadcrumbs a:hover,
.breadcrumbs span a:hover {
    background-color: var(--surfaceHover);
}


/* Header style */
header {
    border-bottom: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 0.5em 0 0.5em 0;
    margin: 0 1em 0 1em;
    width: -moz-calc(100% - 2em);
    width: -webkit-calc(100% - 2em);
    width: -o-calc(100% - 2em);
    width: calc(100% - 2em);
}

#search #input {
    border-radius: var(--radius);
}

.action .counter {
    background-color: var(--icon);
    border-radius: 0.4rem;
}

@media (max-width: 736px) {
    #dropdown {
        box-shadow: none;
        background-color: var(--surfacePrimary) !important;
        border-radius: var(--radius);
        padding: 1em;
    }

    header .overlay {
        background-color: rgba(0, 0, 0, 0.3);
    }

    #dropdown .action span:not(.counter) {
        padding: 0.5em 0.6em 0.4em 0;
    }
}


/* Sidebar style */
nav {
    height: 100%;
    padding: 1em;
}

nav .action:hover {
    background-color: var(--surfaceHover);
}

nav>div {
    border: none;
    margin-top: 1em;
}

@media (max-width: 736px) {
    nav {
        border-radius: var(--radius);
        box-shadow: none;
        margin: 1em;
        height: calc(100% - 2em);
    }

    nav.active {
        margin: 1em;
        border-radius: var(--radius);
        height: calc(100% - 2em);
    }
}

.credits {
    color: var(--textSecondary);
}


/* Card style */
.card {
    border-radius: var(--radius);
    background-color: var(--surfaceSecondary);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card li {
    margin-top: 0.5em;
}

.card .card-action.full .action {
    padding: 2em;
    border: none;
    margin: 0;
}

.card .card-action.full .action:hover {
    background-color: var(--surfaceHover);
}

.card>div:last-child {
    padding-bottom: 1em;
}


/* Button style */
.button {
    background: transparent;
    box-shadow: 0 0 0 2px var(--blue);
    border: none;
    padding: 0.6em 1em 0.5em 1em;
    color: var(--textPrimary);
}

.button:hover {
    box-shadow: 0 0 0 2px var(--blue);
    background-color: var(--blue);
    color: var(--surfacePrimary);
}

.button--flat {
    color: var(--blue);
    box-shadow: none;
}

.button--flat:hover {
    box-shadow: none;
    background-color: var(--dark-blue);
    color: var(--blue);
}

.button--flat:disabled,
.button--flat[disabled] {
    color: var(--grey);
    background-color: transparent;
}

.button,
.button--flat {
    border-radius: var(--radius);
}

.button--flat.button--grey {
    color: var(--grey);
}

.button--flat.button--grey:hover {
    background-color: var(--dark-grey);
}

.button--flat.button--red {
    color: var(--red);
}

.button--flat.button--red:hover {
    background-color: var(--dark-red);
}


/* Action button style */
.action {
    border-radius: var(--radius) !important;
}


/* Input style */
input,
.input {
    background-color: var(--surfaceHover);
    border: none;
    border-radius: var(--radius);
}

input:focus,
.input:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px #5f6373;
}

#search #input input:focus {
    box-shadow: none;
}

.input--green {
    border-color: transparent;
    box-shadow: 0 0 0 2px #147A41;
}

.input--green:focus {
    box-shadow: 0 0 0 2px #84c77d;
}


/* Multiple selection style */
#listing #multiple-selection {
    background-color: var(--surfaceSelect);
    border-radius: var(--radius);
    margin: 0 1em 1em 1em;
    padding: 0.5em 0.7em 0.5em 1em;
    width: -moz-calc(100% - 2em);
    width: -webkit-calc(100% - 2em);
    width: -o-calc(100% - 2em);
    width: calc(100% - 2em);
    bottom: -6em;
    height: auto;
    align-items: center;
}

#listing #multiple-selection p {
    color: var(--textPrimary);
}


/* Shell style */
.shell {
    background-color: #30364c;
    border-radius: var(--radius);
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0 1em 1em 1em;
    width: -moz-calc(100% - 2em);
    width: -webkit-calc(100% - 2em);
    width: -o-calc(100% - 2em);
    width: calc(100% - 2em);
}

.shell__result {
    border-top: none;
    word-break: break-all;
}


/* File selection style */
@media (max-width: 736px) {
    #file-selection {
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: var(--surfaceHover) !important;
        border-radius: var(--radius);
        padding: 1em;
        max-width: 22em;
    }

    #file-selection:empty {
        display: none;
    }
}


/* Move file menu style */
.file-list {
    padding: 0 1em 0 0;
}

.file-list li {
    border-radius: var(--radius);
    padding: 0.5em 1em;
}

.file-list li:hover {
    background: var(--surfaceHover) !important;
}

.file-list li:before {
    color: var(--icon);
}

.file-list li[aria-selected=true] {
    background: var(--surfaceSelect) !important;
}


/* Search style */
#search .boxes {
    border-radius: var(--radius);
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 1em 0;
    padding: 1em;
}

#search .boxes>div>div {
    background-color: var(--surfaceSecondary);
    border-radius: var(--radius);
    width: 25%;
    padding: 1em;
    margin: 0;
    transition: all .2s ease;
}

@media (max-width: 736px) {
    #search .boxes>div>div {
        width: 50%;
    }
}

#search .boxes>div>div:hover {
    background-color: var(--surfaceHover);
}

#search .boxes>div {
    margin: 0;
}

#search.active #input {
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#search.active input {
    padding-left: 1em;
}

#result p:nth-child(1) {
    display: none;
}

#search #input,
#search.active #input,
#search.active input {
    border-radius: var(--radius);
}

#search #input>.action {
    margin-right: 1em;
}

#search.active #input {
    padding: 0 1em;
}

#search.active input {
    background-color: var(--surfaceSecondary);
    padding: 1em;
    transition: all .2s ease;
}

#search.active input:focus {
    box-shadow: 0 0 0 2px #5f6373 !important;
}

#dropdown .action:hover {
    background-color: var(--surfaceHover);
}

#search.active #result {
    padding: 1em;
}

#search.active #result ul li a {
    border-radius: var(--radius);
    padding: 1em;
}

#search.active #result ul li a:hover {
    background-color: var(--surfaceHover);
}

#search.active #result ul li a span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/* Editor style */
.ace_gutter-cell {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 19px;
    padding-right: 6px;
    background-color: #282C34;
    background-repeat: no-repeat;
}


/* Settings style */
.dashboard #nav ul li {
    border-radius: var(--radius);
    border-bottom: none;
}

.dashboard #nav ul li:hover {
    background-color: var(--surfaceHover);
}

.dashboard #nav ul li.active {
    border-color: transparent;
    color: var(--textPrimary);
    background-color: var(--surfaceSelect);
    border-radius: var(--radius);
}

.dashboard #nav ul li.active:before {
    content: inherit;
}

.dashboard #nav .wrapper {
    border-bottom: none;
}

.card .collapsible {
    width: auto;
    margin: 0;
    border-radius: var(--radius);
}

.card .collapsible:hover {
    background-color: var(--surfaceHover);
}

.collapsible {
    border-top: none;
}

.rules input {
    background-color: var(--surfacePrimary);
    border: none !important;
    border-radius: var(--radius);
    padding: 0.4rem !important;
}

table tr {
    border-bottom: none;
}

.message span {
    color: var(--icon);
}


/* Notification style */
.noty_theme__mint.noty_type__success {
    border-radius: var(--radius);
}


/* Login style */
#login form .button {
    margin-top: 2em;
}

#login .wrong {
    border-radius: var(--radius);
    margin-bottom: 0.5em;
}
